body {
    background-image: url('fundo-fatec-cut.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
}

#calendar-title {
    text-align: center;
    display: flex;
    font-size: 2em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    margin-top: 50px ;
}

.empty-day {
    visibility: hidden;
}

.calendar-wrapper {
    display: flex;
    position: relative;
    margin-top: 40px;
}

.calendar-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);

}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.calendar-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.calendar-header button {
    flex-shrink: 0;
}

#day-names {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    
    
}

#day-names span {
    flex: 1;
    text-align: center;
    
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

#calendar div {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#calendar div:hover {
    background: #d0d0d0;
}

#day-content {
    width: 250px;
    padding: 40px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 0;
    left: 395px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
}

#day-content.active {
    display: block;
}

.event-form {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: Center;
    margin-top: 20px;
}

.event-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-form label {
    margin-top: 10px;
}

.event-form input {
    margin-top: 5px;
    padding: 5px;
    width: calc(100% - 10px); /* Adjust for padding */
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.event-form button {
    padding: 5px;
    flex: 1;
    margin-right: 5px;
}

.event-form button:last-child {
    margin-right: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin-top: auto;
    background-color: rgba(255, 255, 255, 0.72);
}

.footer-left {
    flex-grow: 1;
    text-align: left;
}

.footer-right {
    text-align: right;
}
